<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout"
      xmlns:custom="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initialscale=1.0">
  <title>Cửa Hàng Xe Cũ</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/templatemo-style.css">
</head>
<body>

<nav class="container"  layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1>Đặt hàng thành công!</h1>
        <p>Đơn đặt hàng đã được ghi nhận.!</p>
        <a href="/xemays" class="btn btn-primary">Tiếp tục mua sắm</a>
        <a href="/cart/payment" class="btn btn-primary">Thanh toán</a>
      </div>
    </div>
  </div>
</nav>
</body>
</html>